In [44]:
#renaming coloumns in dataframe

import pandas as pd

stats = pd.read_csv('/home/flippercode/Documents/python-learning/day4/locations.csv')

In [49]:
#change the Address Field into Street
stats.columns

Index(['Title', 'Address', 'Latitude', 'Longitude', 'City', 'State', 'Country',
       'Postal Code', 'Message', 'Categories', 'fax', 'email', 'website'],
      dtype='object')

In [63]:
#CONVERTED Address Field into Street and Latitude into Lat

stats.rename (columns={'Address':'Street','Latitude':'LAT'},inplace = True)

In [62]:
stats.head()

,Title,Street,LAT,Longitude,City,State,Country,Postal Code,Message,Categories,fax,email,website
0,Zion Lutheran Church,"1405 E Fallbrook St, Fallbrook, CA, United States",33.3765,-117.2300,Fallbrook,NaN,United States,92028,NaN,churches,NaN,NaN,NaN
1,Zion Lutheran-Avilla,"300 Avilla E, Alexander, AR, United States",34.6827,-92.5824,Alexander,NaN,United States,72002,NaN,churches,NaN,NaN,NaN
2,Zion Mennonite Church,"149 E. Cherry Ln., Souderton, PA, United States",40.3063,-75.3142,Souderton,NaN,United States,18964,NaN,churches,NaN,NaN,NaN
3,Zion Missionary Baptist Church,"4842 Dearth Road, Springboro, OH, United States",39.5106,-84.2670,Springboro,NaN,United States,45066,NaN,churches,NaN,NaN,NaN
4,Zion Rest Church,"2947 50th St, Valley, AL, United States",32.8235,-85.1907,Valley,NaN,United States,36854,NaN,churches,NaN,NaN,NaN