In [15]:
#category data types
# astype('category')
#movies.Film = movies.Film.astype('category') # it will convert the object or anydata type into a category

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

movies = pd.read_csv('/home/flippercode/Documents/python-learning/include/movie-ratings.csv')

In [16]:
movies.columns

Index(['Film', 'Genre', 'Rotten Tomatoes Ratings %', 'Audience Ratings %',
       'Budget (million $)', 'Year of release'],
      dtype='object')

In [30]:
#now rename the fields
movies.rename(columns = {"Film": "Film","Genre":"Genre","Rotten Tomatoes Ratings %":"CriticRating",
                         "Audience Ratings %":"AudienceRating","Year of release": "Year"},inplace = True)

In [31]:
movies.head() #to see all the top 5 fields

,Film,Genre,CriticRating,AudienceRating,Budget (million $),Year
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [32]:
movies.info() # to get the datatypes of all fields. Here Film,Genre are the object and other fields are integer.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film                  559 non-null object
Genre                 559 non-null object
CriticRating          559 non-null int64
AudienceRating        559 non-null int64
Budget (million $)    559 non-null int64
Year                  559 non-null int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [34]:
movies.describe() #to check which fields are operating by the python. Here we found YEAR is also considered.

       CriticRating  AudienceRating  Budget (million $)         Year
count    559.000000      559.000000          559.000000   559.000000
mean      47.309481       58.744186           50.236136  2009.152057
std       26.413091       16.826887           48.731817     1.362632
min        0.000000        0.000000            0.000000  2007.000000
25%       25.000000       47.000000           20.000000  2008.000000
50%       46.000000       58.000000           35.000000  2009.000000
75%       70.000000       72.000000           65.000000  2010.000000
max       97.000000       96.000000          300.000000  2011.000000

In [36]:
#As you can see in the year, that doesn't make any sense the calculation is done on the Year Field, because Year is Year
#this is true year is number but we dont want any type of operations in the Year.

#To do this we will convert the datatype Year into the category

In [51]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film                  559 non-null category
Genre                 559 non-null object
CriticRating          559 non-null int64
AudienceRating        559 non-null int64
Budget (million $)    559 non-null int64
Year                  559 non-null category
dtypes: category(2), int64(3), object(1)
memory usage: 43.7+ KB

In [48]:
#Firt we will change the datatype of "Film"
movies['Film'].head()
movies.Film = movies.Film.astype('category')
movies.Year = movies.Year.astype('category')

In [49]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film                  559 non-null category
Genre                 559 non-null object
CriticRating          559 non-null int64
AudienceRating        559 non-null int64
Budget (million $)    559 non-null int64
Year                  559 non-null category
dtypes: category(2), int64(3), object(1)
memory usage: 43.7+ KB

In [50]:
movies.describe()

       CriticRating  AudienceRating  Budget (million $)
count    559.000000      559.000000          559.000000
mean      47.309481       58.744186           50.236136
std       26.413091       16.826887           48.731817
min        0.000000        0.000000            0.000000
25%       25.000000       47.000000           20.000000
50%       46.000000       58.000000           35.000000
75%       70.000000       72.000000           65.000000
max       97.000000       96.000000          300.000000

In [52]:
#Now you can see python is not considering the Year field